html {
  font-family: "Futura PT", sans-serif !important;
}

:root {
  font-family: "Futura PT", sans-serif !important;
}

body {
  font-family: inherit !important;
}

.svg-defs {
  position: absolute;
  overflow: hidden;
  height: 0;
  width: 0;
}


label {
  cursor: pointer;
}

a {
	text-decoration: none;
}

ul,
ol,
li {
	list-style: none;
}

ul {
  padding-left: 0px;
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

button {
  background-color: transparent;
  padding: 0;
  border: none;
}

label {
  margin: 0;
}

.app {
  background-color: $bg-grey;

  &__inner {
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
  }
}


.my-button {
  &-default {
    background-color: $bg-black;
    border: 1px solid $black;
    border-radius: 20px;
    color: $font-white;
    display: block;
    margin: auto;
  
    &:hover {
      background-color: $bg-white;
      border-color: $black;
      color: $font-black;
    }
  }

  &-small {
    padding: 4px 60px;

    @media (max-width: $screen-sm-max) {
      padding: 4px 20px;
    }
  }

  &-big {
    padding: 4px 60px;
  }
}


.my-input-default {
  background-color: $bg-input;
  border-radius: 8px;
  display: block;
  padding: 6px;
  width: 100%;

  &:focus::placeholder {
    color: transparent;
  }

  &.invalid {
    outline-color: $persimmon;
    border-color: $persimmon;
  }
}

.error-info {
  color: $persimmon;
}